<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Saas Vanta" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Saas Vanta">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="bg-gray-800">
      <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="relative flex h-16 items-center justify-between">
          <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
            <div class="flex flex-shrink-0 items-center">
              <span class="text-white font-bold text-xl">Saas Vanta</span>
            </div>
            <div class="hidden sm:ml-6 sm:block">
              <div class="flex space-x-4">
                <%= link_to "Dashboard", root_path, class: "text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium" %>
                <% if Current.user&.super_admin? %>
                  <%= link_to "Registrar Empresa", new_admin_enterprise_path, class: "text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium" %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
             <% if authenticated? %>
                <span class="text-gray-300 mr-4">Hola, <%= Current.user.email_address %></span>
                <%= button_to "Cerrar Sesión", session_path, method: :delete, class: "text-gray-300 hover:bg-red-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium" %>
             <% else %>
                <%= link_to "Iniciar Sesión", new_session_path, class: "text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium" %>
             <% end %>
          </div>
        </div>
      </div>
    </nav>
    <main class="container mx-auto mt-28 px-5 flex">
      <div class="max-w-7xl mx-auto sm:px-6 lg:px-8 mt-4">
        <% flash.each do |key, value| %>
          <div class="<%= key == 'notice' ? 'bg-green-100 border-green-400 text-green-700' : 'bg-red-100 border-red-400 text-red-700' %> border px-4 py-3 rounded relative" role="alert">
            <span class="block sm:inline"><%= value %></span>
          </div>
        <% end %>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
